.menu {
    .selection-row, 
    .putins-row,
    .btn-row {
        margin-bottom: 24px;
    }

    .selection-row {
        .ant-select {
            // font-size: 16px;
            :focus {
                outline: none; 
            }
            :hover {
                border: none;
            }

            &.ant-select-focused {
                border: none;
            }

            .ant-select-selector {
                box-shadow: none !important;
                border: none;
                border-bottom: 1px solid #d9d9d9;

                :focus {
                    outline: none;
                }
            }

            &.ant-select-focused {
                .ant-select-selector {
                    box-shadow: none;
                    border: none;
                    border-bottom: 1px solid #d9d9d9;
                }
            }
        }

        .ant-select:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .putins-row {
        margin-bottom: 36px;
    }

    .btn-row {
        .ant-col {
            text-align: center;
            .ant-btn {
                width: 90%;
                span {
                    font-weight: bold;
                }
            }
        }
    }
}

.ant-drawer-title {
    text-align: center;
}

.ant-select-item, .ant-drawer-body {
    font-size: 16px !important;
}