.home-page {  
    padding-top: 65px;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;

    .info {
        padding: 24px 12px;
    }

    .rating {
        margin-bottom: 18px;
    }

    .weather-info, .water-stations {
        margin-bottom: 8px;

        .ant-collapse {
            font-size: 16px;
        }

        .ant-collapse-item {
            .ant-collapse-header {
                text-align: left;
                padding: 10px;
            }
        }
        
        .ant-collapse-content-box {
            padding: 0 0 0 12px !important;
        }

        .ant-card {
            .ant-card-head {
                padding: 0;
            }
            .ant-card-body {
                padding: 8px 0;
            }
        }
    }

    .water-stations {
        .ant-collapse-content-box {
            padding: 0 0 0 36px !important;
        }
    }
}