.header {
   padding: 12px;
   box-shadow: 0 0 10px 2px #ccc;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: #fff;
   z-index: 1;

    .title-col {
        text-align: center;
        h3, h4 {
            margin: 0;
            line-height: 1.2;
        }
    }

    .menu-col {
        text-align: right;
        #veggieburger {
            display: inline-block;
            padding: 4px 8px;
            
            img {
                height: 24px;
            }

            .anticon {
                font-size: 24px;
            }
            
        }
    }

}